#page-home {
    height: 100vh;
    background: url("../../assets/landing-extended.png") no-repeat bottom;
    background-position: absolute;
    background-size: 1600px 900px;
    background-position-x: 0px;
    background-position-y: center;
    mix-blend-mode: lighten;
  }

#page-home main h1{
    position: absolute;
    width: 698px;
    height: 35px;
    left: 180px;
    top: 160px;

    font-family: Roboto;
    font-style:normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 100px;
}

#page-home main h3{
    position: absolute;
    width: 702px;
    height: 47px;
    left: 180px;
    top: 390px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
}

#page-home main h4{
    position: absolute;
    width: 698px;
    height: 35px;
    left: 180px;
    top: 460px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;

}

#page-home main .enter-cadastro{
    position: absolute;
    width: 191px;
    height: 52px;
    left: 180px;
    top: 75%;

}
 